Source: pytricia
Section: python
Priority: optional
Maintainer: Brad Cowie <brad@faucet.nz>
Build-Depends: debhelper (>=9),
               dh-python,
               python3-all-dev,
               python3-setuptools
Standards-Version: 3.9.6
Homepage: https://pypi.org/project/pytricia/
X-Python3-Version: >= 3.2
#Vcs-Git: git://github.com/jsommers/pytricia.git
#Vcs-Browser: https://github.com/jsommers/pytricia.git

Package: python3-pytricia
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}
Description: Pytricia is a Python module to store IP prefixes in a
 patricia tree. It's based on Dave Plonka's modified patricia tree
 code, and has three things to recommend it over related modules
 (including py-radix and SubnetTree):
 .
 * it's faster,
 * it works nicely in Python 3, and
 * there are a few nicer library features for manipulating the structure.
 .
 See the github repo for documentation and some performance numbers:
 <https://github.com/jsommers/pytricia>.
 .
 This package installs the library for Python 3.
